Soluciones
Ejercicio 1:

In [2]:
planet = {
    'name': 'Mars',
    'moons': 2
}

In [6]:
print(planet.get('name') + ' has ' + str(planet.get('moons')) + ' moons')

print(f'{planet["name"]} has {planet["moons"]} moons')

Mars has 2 moons
Mars has 2 moons

In [13]:

planet['circumference (km)'] = {
    'polar': 6752,
    'equatorial': 6792
}

In [16]:
print(planet.get('name') + ' has a polar circumference of ' + str(planet.get('circumference (km)').get('polar')))

print(f'{planet["name"]} has a polar circumference of {planet["circumference (km)"]["polar"]}')

Mars has a polar circumference of 6752
Mars has a polar circumference of 6752

Ejercicio 2

In [2]:
planet_moons = {
    'mercury': 0,
    'venus': 0,
    'earth': 1,
    'mars': 2,
    'jupiter': 79,
    'saturn': 82,
    'uranus': 27,
    'neptune': 14,
    'pluto': 5,
    'haumea': 2,
    'makemake': 1,
    'eris': 1
}

In [3]:
moons = planet_moons.values()
print(f'There are {sum(moons)} moons in our solar system')

planets = len(planet_moons.keys())
print(f'There are {planets} planets in our solar system')

There are 214 moons in our solar system
There are 12 planets in our solar system

In [4]:
planets = len(planet_moons.keys())

In [28]:
total_lunas = 0
for moon in moons:
    total_lunas = total_lunas + moon

average = total_lunas / planets
print(f'El número medio de lunas por planeta es {average}')

El número medio de lunas por planeta es 17.833333333333332